<div class="filter-container">
    <a>Filters:</a>
    <label for="product">Choose a Product:</label>
    <select name="product" id="product">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>

    <label for="price">Choose a price:</label>
    <select name="price" id="price">
        <option value="500">500</option>
        <option value="1000">1000</option>
        <option value="2000">2000</option>
        <option value="3000">3000</option>
    </select>

</div>